.gradient-form {
    background-color: #eee;
}
.gradient-custom-2 {
    background: linear-gradient(45deg, #f06, #f3c);
}
.rounded-3 {
    border-radius: 0.5rem;
}
.text-black {
    color: #000;
}
.text-white {
    color: #fff;
}
.login-form {
    max-width: 450px;
    margin: auto;
    padding: 20px;
}
.login-form .card {
    border: none;
}