server:
  port: 9006
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_SERVER_HOST}
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:${USER_DB_CONNECTION}
    username: ${USER_DB_USER_NAME}
    password: ${USER_DB_PASSWORD}
    initialization-mode: always
    initialize: true
    continue-on-error: true
    platform: postgresql
    maxActive: 3
  jpa:
    hibernate:
      ddl-auto: create-drop
      format_sql: true
    show_sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: ${KAFKA_SERVER_HOST}

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /api-docs
  tryItOutEnabled: true
  filter: true

leandro:
  openapi:
    dev-url: ${USER_SERVER_HOST}
    prod-url: ${USER_SERVER_HOST
